---
name: Codecov coverage

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.14'
      - name: Run coverage
        environment: Test environment
        env:
          TEST_SERVER: ${{ secrets.SECRETSERVER }}
          TEST_ACCOUNT_PHONE: ${{ secrets.SECRETPHONE }}
          TEST_ACCOUNT_CODE: ${{ secrets.SECRETACCOUNTCODE }}
        run: go test -race -coverprofile=coverage.txt -covermode=atomic
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
